.toolbar-menu {
  //z-index: 1000;
  //background-color: #eee862;

  //
  //.menuModify {
  //  width: 110px;
  //  height: 30px;
  //  z-index: 1000;
  //}
  //
  //.menuAdd {
  //  width: 110px;
  //
  //  height: 30px;
  //  z-index: 1000;
  //}
  //
  //.menuRemove {
  //  left: 530px;
  //  width: 110px;
  //  height: 30px;
  //  z-index: 1000;
  //}
  //
  //.menuAdvanced {
  //  left: 630px;
  //  width: 110px;
  //  height: 30px;
  //  z-index: 1000;
  //}
  //
  //.menuView {
  //  left: 730px;
  //  width: 110px;
  //  height: 30px;
  //  z-index: 1000;
  //}
  //
  //.menuHelp {
  //  left: 830px;
  //  width: 110px;
  //  height: 30px;
  //  z-index: 1000;
  //}
  //
  .toolbarMenu {
    border: 1px;
    margin: 0px;
    height: 25px;
    min-width: 100px;
    font-size: 10pt;
  }
  //
  .menuSeparator {
    width: 130px;
    height: 0px;
    padding: 0px;
    margin: 0px;
    border-bottom: solid 1px red;
  }
  //
  //.roundButton {
  //  border-radius: 4px;
  //}
  //


  .menuItem {
    z-index: 999;
    border: solid 1px;
    border-bottom: 0px;
  }

  .menuFooter {
    z-index: 999;
    border: solid 1px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-top: 0px;
    height: 5px;
  }
}
