<div class="edit-label" [ngStyle]="{'opacity': tabFocused ? '1' : '0.55'}">
  <div [hidden]="!editMode">
  <input class="edit-label-textbox" type="text"
         [(ngModel)]="text"
         [ngStyle]="{'height': editMode ? '20px':'0px'}"
         (keyup)="update()" (blur)="toggle()"
         (keyup.enter)="toggle()"
         id="editbox{{id}}"
         tabindex="2"
  /></div>
  <div class="labelReadOnly" [ngClass]="getTabsClass()" [hidden]="editMode" title="{{text}}" (click)="giveTabFocus()"><div (dblclick)="toggle()" style="width:calc(100% - 15px);display: inline-block">{{outputText}}</div></div>
</div>
