.statusPanel {
  background-color: #9ed3d9;
  padding-left: 5px;
  display: flex;
  font-size: small;
  flex: 1;
  width: 95vw;
  height: 12px;
  position: absolute;
  bottom: 1px;
  height: 10px;
  padding: 8px;

  .rhsStatus {
    flex: 1;
    text-align: right;
  }

  .lhsStatus {
    flex: 0.5;
  }
}
