/* You can add global styles to this file, and also import other style files */
html, body {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 12pt;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0px;
  background-color: #4d50d9;
}
